body {
    background-color: #f1f1f1;
}

/* 搜索栏 */
.seek {
    height: 85px;
    background-color: #fff;
}

.seek-top {
    padding-top: 16px;
    height: 85px;
    box-sizing: border-box;
}

.seek-top img {
    float: left;
    height: 40px;
    margin-right: 72px;
}

.seek-centen {
    float: left;
    width: 504px;
    height: 37px;
    box-sizing: border-box;
    border: 2px solid #ff4338;

}

.seek-centen input {
    border: none;
    width: 300px;
    height: 30px;


}

.seek-centen button {
    position: relative;
    float: right;
    height: 35px;
    width: 55px;
    background-color: #ff4338;
    border: none;
    color: #ffffff;
    font-size: 16px;
}

.seek-centen-small {
    position: absolute;
    top: 29px;
    left: 391px;
}

.seek-centen-small a {
    font-size: 12px;
    color: #666666;
    padding: 0 5px;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin: 0 5px;
}


.seek-centen span {
    float: right;
    font-size: 12px;
    color: #ff4338;
    line-height: 35px;
    margin-right: 20px;
    font-weight: bold;

}

.seek-top-right {
    float: right;

}

.seek-top-right img {
    height: 60px;
    margin-right: 0px;
}

/* 2.导购栏 */
.shooping {
    height: 40px;
    background-color: #ff4338;
}

.shooping-left {
    float: left;
}

.shooping-left a {
    float: left;
    font-size: 16px;
    color: #ffffff;
    padding: 0 28px;
    line-height: 40px;
}

.shooping-left a:hover {
    background-color: red;
    font-weight: bold;
    color: #ffffff;
}

.shooping-right {
    float: right;
    font-size: 16px;
    color: #ffffff;
    line-height: 40px;
    padding-right: 10px;
}

.shooping-right span {
    padding: 0 6px;
}

/* 3.产品分类 */
.kind {
    height: 40px;
    background-color: #ffffff;
}

.kind-left {
    float: left;
    padding-left: 10px;
    height: 19px;
    border-left: 2px solid #b70000;
    box-sizing: border-box;
    margin-top: 10px;
}

.kind-left span {
    font-size: 16px;
    color: #333333;
}

.kind-left a {
    padding: 0 30px;
    border-right: 1px solid#e5e5e5;
    color: #666666;
    font-size: 13px;
}

.kind-left a:hover {
    color: #ff4338;
}

.kind-left i {
    color: #8c8c8c;
    font-size: 16px;
    margin-right: 5px;
}

.kind-left a:hover i {
    color: #b71000;
}

/* 4.轮播图 */
.watch {
    position: relative;
    height: 360px;
    background-color: #548dd4;
}

.watch-left {

    float: left;
    width: 330px;
    height: 360px;
    background-color: #dce6f1;
}


.watch-left-ball {
    position: relative;
    height: 90px;
    width: 330px;
    padding-left: 23px;
    padding-top: 22px;
    box-sizing: border-box;
}

.watch-left-ball span {
    display: block;
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 20px;
}

.watch-left-ball span:hover {
    color: #b70000;
}

.watch-left-ball a:hover {
    color: #ff4338;
}

.watch-left-ball>a {
    font-size: 13px;
    margin-right: 22px;
    color: #333333;
}



.watch-left-ball:hover {
    background-color: #fff;

    border-right: 1px solid #ffffff;
    box-sizing: border-box;
}

.watch-left-ball:before {
    content: "";
    position: absolute;
    height: 90px;
    width: 3px;
    background-color: #333333;
    left: 0px;
    top: 0px;
    display: none;
}

.watch-left-ball:hover:before {
    display: block;
}

/* 品牌显示与隐藏 */


.brand-one {
    position: absolute;
    height: 360px;
    width: 452px;
    background-color: #ffffff;
    top: 0;
    left: 330px;
    z-index: 1;
    display: none;
}

.brand-two {
    position: absolute;
    height: 360px;
    width: 452px;
    background-color: #ffffff;
    top: -90px;
    left: 330px;
    z-index: 1;
    display: none;
}

.brand-three {
    position: absolute;
    height: 360px;
    width: 452px;
    background-color: #ffffff;
    top: -180px;
    left: 330px;
    z-index: 1;
    display: none;
}

.brand-four {
    position: absolute;
    height: 360px;
    width: 452px;
    background-color: #ffffff;
    top: -270px;
    left: 330px;
    z-index: 1;
    display: none;
}

.brand-one-top,
.brand-two-top,
.brand-three-top,
.brand-four-top {
    width: 416px;
    height: 55px;
    border-bottom: 1px solid #f3f3f3;
    margin: 0 auto;
}

.brand-one-top h4,
.brand-two-top h4,
.brand-three-top h4,
.brand-four-top h4 {
    float: left;
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    line-height: 55px;
}

.brand-one-top i,
.brand-two-top i,
.brand-three-top i,
.brand-four-top i {
    float: right;
    font-size: 13px;
    color: #333333;
    line-height: 55px;
}

.brand-one-cneter,
.brand-four-cneter,
.brand-two-cneter,
.brand-three-cneter {
    height: 94px;
    width: 416px;
    border-bottom: 1px solid #f3f3f3;
    margin: 0 auto;
    padding-top: 10px;
    box-sizing: border-box;
}

.brand-one-cneter b,
.brand-two-cneter b,
.brand-three-cneter b,
.brand-four-cneter b {
    float: left;
    font-size: 12px;
    color: #333333;
    border-right: 1px solid #f3f3f3;
    line-height: 2.5;
    padding: 0 17px;
    font-weight: normal;
    margin-bottom: 10px;
}

.brand-one-bottom,
.brand-two-bottom,
.brand-three-bottom,
.brand-four-bottom {
    height: 214px;
    width: 416px;
    box-sizing: border-box;
}

.brand-one-bottom img,
.brand-two-bottom img,
.brand-three-bottom img,
.brand-four-bottom img {
    height: 71px;
    width: 100px;
}

.watch-left-ball:nth-child(1):hover .brand-one,
.watch-left-ball:nth-child(2):hover .brand-two,
.watch-left-ball:nth-child(3):hover .brand-three,
.watch-left-ball:nth-child(4):hover .brand-four {
    display: block;
}



.watch-right {
    position: relative;
    float: right;
}

.watch-right img {
    height: 360px;
    width: 750px;
}

.watch-right-hide {
    position: absolute;
    bottom: 20px;
    right: 333px;
}

.watch-right-hide span {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 5px;
}

.watch-right-hide span:nth-child(2) {
    background-color: #ff4338;
}

.watch-right-hide span:hover {
    background-color: #ff4338;
}


.watch-jiantou-left {
    top: 165px;
    left: 0px;
}

.watch-jiantou-right {
    top: 165px;
    right: 0px;
}

.watch-jiantou-left img,
.watch-jiantou-right img {
    height: 19px;
    width: 12px;
    margin-top: 15px;
}

.watch-jiantou-left,
.watch-jiantou-right {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    display: none;
}

.watch-jiantou-left:hover,
.watch-jiantou-right:hover {
    background-color: #000000;
}

.watch-right:hover .watch-jiantou-left,
.watch-right:hover .watch-jiantou-right {
    display: block;
}

/* 5.每日好价  */
.everyday {
    height: 331px;
}

.everyday-top {
    height: 55px;
    padding-top: 24px;
    box-sizing: border-box;
}

.everyday-top span {
    float: left;
    font-size: 18px;
    color: #333333;
    border-left: 4px solid #ff4338;
    padding-left: 6px;
    font-weight: bold;
}

.everyday-top i {
    font-size: 17px;
    color: #666666;
    margin-left: 10px;
    line-height: 22px;
}

.everyday-bottom {
    height: 276px;
    background-color: #ffffff;
}

.everyday-bottom-shoes {
    float: left;
    width: 200px;
    margin-left: 16px;
}

.everyday-bottom-shoes img {
    height: 170px;
    margin-top: 23px;
    margin-bottom: 10px;
}

.everyday-bottom-shoes a {
    font-size: 18px;
    color: #333333;
    font-weight: bold;

}

.everyday-bottom-shoes a:hover {
    color: #ff4338;
}

.everyday-bottom-shoes p {
    margin-bottom: 18px;
}

.everyday-bottom-shoes span {
    float: left;
    color: #ff4338;
    font-size: 16px;
    font-weight: bold;
}

.everyday-bottom-shoes b {
    float: right;
    text-decoration: line-through;
    color: #333333;
    font-size: 14px;
    font-weight: lighter;
    margin-right: 15px;
}

.everyday-bottom-jiantou {
    top: 180px;
    right: 0px;
}

.everyday-bottom-jiantou img {
    height: 19px;
    width: 12px;
    margin-top: 15px;
}

.everyday-bottom-jiantou {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    display: none;
}

.everyday-bottom-jiantou:hover {
    background-color: #000000;
}

.everyday-bottom:hover .everyday-bottom-jiantou {
    display: block;
}

/* 6.愿望清单 */
.wish {
    height: 352px;
}

.wish-top {
    height: 55px;
    padding-top: 24px;
    box-sizing: border-box;
}

.wish-top span {
    float: left;
    font-size: 18px;
    color: #333333;
    border-left: 4px solid #ff4338;
    padding-left: 6px;
    font-weight: bold;
}

.wish-bottom {
    height: 297px;
    background-color: #ffffff;
    padding-top: 15px;
    box-sizing: border-box;
}

.wish-bottom-conter {
    position: relative;
    height: 170px;
    border-bottom: 1px solid#ebebeb;
}

.wish-bottom-conter img {
    float: left;
    padding-left: 8px;
    width: 260px;
    height: 130px;
}

.wish-bottom-conter-one {
    bottom: 24px;
    left: 17px;
}

.wish-bottom-conter-two {
    bottom: 24px;
    left: 285px;
}

.wish-bottom-conter-three {
    bottom: 24px;
    right: 285px;
}

.wish-bottom-conter-four {
    bottom: 24px;
    right: 17px;
}

.wish-bottom-conter-one,
.wish-bottom-conter-two,
.wish-bottom-conter-three,
.wish-bottom-conter-four {
    position: absolute;
    display: inline-block;
    height: 66px;
    width: 240px;
    background-color: rgba(255, 255, 255, 0.9);

    text-align: center;
    padding: 15px 0;
    box-sizing: border-box;
}

.wish-bottom-conter-one span,
.wish-bottom-conter-two span,
.wish-bottom-conter-three span,
.wish-bottom-conter-four span {
    font-size: 15px;
    line-height: 2;
    color: #333333;
}

.wish-bottom-conter-one:hover span,
.wish-bottom-conter-two:hover span,
.wish-bottom-conter-three:hover span,
.wish-bottom-conter-four:hover span {
    color: #ff4338;
}

.wish-bottom-jiantou {
    top: 44px;
    right: 0px;
}

.wish-bottom-jiantou img {
    height: 19px;
    width: 12px;
    margin-top: 15px;
}

.wish-bottom-jiantou {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    display: none;
}

.wish-bottom-jiantou:hover {
    background-color: #000000;
}

.wish-bottom:hover .wish-bottom-jiantou {
    display: block;
}

.wish-bottom-last span {
    float: left;
    display: block;
    font-size: 16px;
    color: #333333;
    margin-top: 43px;
    margin-left: 28px;
}

.wish-bottom-last-box {
    float: left;
    margin-top: 23px;
    margin-left: 32px;
    width: 195px;
}

.wish-bottom-last img {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.wish-bottom-last a {
    float: left;
    color: #333333;
    font-size: 14px;
    margin-left: 10px;
}

.wish-bottom-last a:hover {
    color: #ff4338;
}

.wish-bottom-last i {
    float: left;
    width: 115px;
    margin-left: 10px;
    margin-top: 13px;
    color: #999999;
}

/* 7.销量排行 */
.sales {
    height: 395px;
    box-sizing: border-box;
}

.sales-top {
    height: 55px;
    padding-top: 25px;
    box-sizing: border-box;
}

.sales-top span {
    float: left;
    font-size: 18px;
    color: #333333;
    border-left: 4px solid #ff4338;
    padding-left: 6px;
    font-weight: bold;
}

.sales-top span:nth-child(2) {
    float: right;
    font-size: 18px;
    color: #333333;
    border-left: 4px solid #ff4338;
    padding-left: 6px;
    font-weight: bold;
    margin-right: 125px;
}

.sales-bottom {
    position: relative;
}

.sales-bottom-box {
    position: relative;
    float: left;
    display: block;
    height: 340px;
    width: 208px;
    background-color: #fff;
    margin-right: 10px;
    box-sizing: border-box;
}

.sales-bottom-box:nth-child(5) {
    margin-right: 0px;
}

.sales-bottom-box:hover p {
    color: #ff4338;
}

.sales-bottom-box img {
    width: 208px;
    height: 208px;
}

.sales-bottom-box p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 23px;
}

.sales-bottom-box span {
    display: inline-block;
    width: 168px;
    font-size: 14px;
    color: #333333;
    margin-left: 25px;
    line-height: 1.5;

}

.sales-bottom-box i {
    float: left;
    font-size: 12px;
    margin-top: 24px;
    margin-left: 12px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}

.sales-bottom-box:nth-child(1) i,
.sales-bottom-box:nth-child(4) i {
    margin-top: 67px;
    margin-left: 12px;
}

.sales-bottom-box:nth-child(-n+4):before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-bottom: 20px solid transparent;
    border-left: 20px solid red;
    border-right: 20px solid transparent;
    border-top: 20px solid red;
}

.sales-bottom-box:nth-child(-n+4) b {
    position: absolute;
    top: 2px;
    left: 6px;
    font-size: 19px;
    color: #ffffff;
}

.sales-bottom-box:nth-child(5):before {
    content: "发布时间2019-04-19";
    display: block;
    position: absolute;
    height: 40px;
    width: 208px;
    background-color: #ff4338;
    bottom: -210px;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    top: 167px;

}

.sales-bottom-jiantou {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    display: none;
    top: 80px;
    right: 218px;
}

.sales-bottom-jiantou img {
    height: 19px;
    width: 12px;
    margin-top: 15px;
}

.sales-bottom-jiantou:hover {
    background-color: #000000;
}

.sales-bottom:hover .sales-bottom-jiantou {
    display: block;
}

/* 热门文章 */
.articles {
    height: 340px;
}

.articles-top {
    height: 55px;
    padding-top: 25px;
    box-sizing: border-box;
}

.articles-top span {
    float: left;
    font-size: 18px;
    color: #333333;
    border-left: 4px solid #ff4338;
    padding-left: 6px;
    font-weight: bold;
}

.articles-bottom-box {
    position: relative;
    display: block;
    float: left;
    display: block;
    height: 285px;
    width: 208px;
    background-color: #fff;
    margin-right: 10px;

}

.articles-bottom-box:nth-child(5) {
    margin-right: 0px;
}

.articles-bottom-box img {
    height: 190px;
    width: 208px;
}

.articles-bottom-box span {
    position: absolute;
    display: block;
    height: 70px;
    width: 208px;
    bottom: 80px;
    color: #ffffff;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.articles-bottom-box img:nth-child(3) {
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 10px;
}

.articles-bottom-box p {
    float: left;
    font-size: 12px;
    color: #333333;
    margin-top: 35px;
    margin-left: 10px;
}

.articles-bottom-box i {
    position: absolute;
    color: #999999;
    font-size: 12px;
    bottom: 10px;
    left: 10px;
}



.articles-right-bottom b:hover {
    color: #ff4338;
}

.articles-right-bottom s:hover {
    color: #ff4338;
}

.articles-right-bottom b {
    font-size: 16px;
    color: #cdcdcd;
}

.articles-right-bottom {
    float: right;
    margin: 0 4px;
    margin-top: 65px;
}

.articles-right-bottom s {
    color: #999999;
    font-size: 14px;
    line-height: 20px;
}

/* 9.猜你喜欢 */
.like-top {
    height: 55px;
    padding-top: 25px;
    box-sizing: border-box;
}

.like-top span {
    float: left;
    font-size: 18px;
    color: #333333;
    border-left: 4px solid #ff4338;
    padding-left: 6px;
    font-weight: bold;
}

.like-bottom-box {
    float: left;
    display: block;
    height: 340px;
    width: 208px;
    background-color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
}

.like-bottom-box:nth-child(5) {
    margin-right: 0;
}

.like-bottom-box img {
    height: 208px;
    width: 208px;
}

.like-bottom-box span {
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-top: 10px;
    margin-left: 14px;
}

.like-bottom-box p {
    float: left;
    font-size: 13px;
    color: #333333;
    width: 155px;
    height: 28px;
    margin-left: 26px;
    margin-top: 21px;
    line-height: 1.5;
}

.like-bottom-box i {
    float: left;
    color: #ff4338;
    font-weight: bold;
    font-size: 14px;
    margin-top: 27px;
    margin-left: 10px;
}

.like-bottom-box:hover span {
    color: #ff4338;
}

.more {
    float: left;
    height: 40px;
    width: 1080px;
    background-color: #fff;
    margin-top: 10px;
}

.more span {
    float: left;
    font-size: 14px;
    margin-left: 530px;
    line-height: 40px;
    color: #333333;
}

/* 底部图标 */
.ico {
    height: 162px;
    background-color: #ffffff;
    margin-top: 20px;
    background-image: url("../image/all-icon.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ico-top {
    height: 10px;
    width: 100%;
    border-bottom: 1px dashed #bdbdbd
}

/* 其他 */
.others {
    height: 208px;
    width: 100%;
}

.others-box a:hover {
    color: #ff4338;
}

.others-box {
    position: relative;
    float: left;
    margin-left: 565px;
    height: 190px;
    width: 741px;
}

.others-left {
    float: left;
    margin-left: 114px;
}

.others-left dt {
    font-size: 17px;
    color: #333333;
    margin-bottom: 20px;
    margin-top: 27px;
}

.others-left dd>a {
    font-size: 12px;
    color: #666666;
    line-height: 2;
}

.others-one {
    position: absolute;
    top: 17px;
    left: 65px;
    width: 40px;
    height: 40px;
    background-color: #c7c7c7;
    border-radius: 50%;
}

.others-one span {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    line-height: 40px;
    margin-left: 8px;
}

.others-two {
    position: absolute;
    top: 17px;
    left: 245px;
    width: 40px;
    height: 40px;
    background-color: #c7c7c7;
    border-radius: 50%;
}

.others-two span {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    line-height: 40px;
    margin-left: 8px;
}

.others-three {
    position: absolute;
    top: 17px;
    left: 428px;
    width: 40px;
    height: 40px;
    background-color: #c7c7c7;
    border-radius: 50%;
}

.others-three span {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    line-height: 40px;
    margin-left: 8px;
}

.others-four {
    position: absolute;
    top: 17px;
    left: 624px;
    width: 40px;
    height: 40px;
    background-color: #c7c7c7;
    border-radius: 50%;
}

.others-four span {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    line-height: 40px;
    margin-left: 8px;
}

/* 底部 */
.footer {
    height: 185px;
    background-color: #ffffff;
    padding: 19px;
}

.footer-one {
    text-align: center;
}

.footer-one a,
.footer-two a,
.footer-three a {
    font-size: 12px;
    color: #999999;
}

.footer a:hover {
    color: #ff4338;
}

.footer-one span,
.footer-two span {
    color: #f2f2f2;
    font-size: 16px;
    margin: 0 5px;
}

.footer-one i,
.footer-two i {
    color: #999999;
    font-size: 12px;
}

.footer-two {
    text-align: center;
    margin-top: 10px;
}

.footer-three {
    text-align: center;
    margin-top: 10px;
    color: #999999;
}

.footer-four {
    text-align: center;
    margin-top: 15px;
}

.footer-four img {
    margin: 0 5px;
}