#cart-img-box{
    position:absolute;
    z-index:99;
    border:1px #ccc solid;
    border-radius:50%;
}
#cart-right-area{
    background-color:#fff4f4;
    bottom:110px;
    color:#fff;
    font-weight:bold;
    margin-right:-620px;
    position:fixed;
    right:50%;
    text-align:center;
    width:40px;
    height:40px;
    border:1px #b60200 solid;
    border-radius:5px;
    z-index:9;
}#cart-right-area .return-old{
    margin-bottom:10px;
}
#cart-right-area .inner{
    background-color:#e44a4e;
    padding:10px 0;
    color:#fff;
    font-weight:bold;
}
#cart-right-area .my-cart{
    padding:10px 0;
    width:20px;
    font-size:14px;
    line-height:15px;
    margin:0 auto;
}
#cart-right-area .img-png{
    margin-top:10px;
}
#cart-right-area .goods-num{
    position:absolute;
    right:-8px;
    top:-8px;
    color:#fff;
    border-radius:10px;
    padding:0px 8px;
    background-color:#f84f4d;
}
body .returnTop{
    bottom:50px;
}body .returnTop:hover{
    bottom:50px;
}
.returnTopNew{
    background:url("/images/trade/ziying/top.jpg") no-repeat;
    bottom:100px;
    display:none;
    height:45px;
    margin-right:-620px;
    position:fixed;
    right:50%;
    text-indent:-99999px;
    width:42px;
    z-index:9;
}
body .returnTopNew{
    bottom:7px !important;
}

.nav-area .area-min .menu_nav li.haitao-new{
    position:relative;
}
.nav-area .area-min .menu_nav li.haitao-new span{
    position:absolute;
    top:-3px;
    right:-5px;
    width:33px;
    height:14px;
    background:url("//sh1.hoopchina.com.cn/images/trade/icon-nav-haitao.png") no-repeat left top;
    display: inline-block;
    z-index:10;
    display:none;
}
.commodity-supply{
    color: #999;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-indent: 20px;
    background: url('http://sh1.hoopchina.com.cn/images/trademobile/icon/supplier-icon.png') no-repeat left center;
    background-size: 13.8px 15px;
}